@import "variables";

#agenda {
  grid-area: agenda;
  background:$bodyDark;

  display:grid;
  	padding-top:50px;
  	margin-right:10px;
  	margin-left:10px;
	
}

.a_date{
	padding-top:5px;
}

.agendaTitle {
  font-family:$titleFont;
  font-size:1.1em;
  font-weight:700;
  border-radius:5px;
  line-height:40px;
  height:40px;
  color:$white;
  padding-left:20px;
}

.agendaTitle::first-letter { 
  font-family:$titleFontDecorative;
  font-size:1.3em;
}

.agendaContainer {
	display:grid;
  grid-template-columns: repeat(1,1fr); 
  grid-gap:10px;
}

.agendaDay {
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	color:$yellow;
}

.agendaDate {
	line-height:18px;
}

.agendaItem {
	display: flex;
  align-items: center;
  justify-content: center;
	flex-direction:column;
	margin-top:10px;
	background:$bodyMed;
	min-height:100px;

  text-align: center;
}


.speechTitle_a {
	color:$lightGrey;
	font-family:$titleFont;
	  padding-right:10px;
  padding-left:10px;
}

.agendaTime {
	padding-top:10px;
	padding-bottom:10px;
	color:$white;
	font-size:13px;
}



.agendaSpeaker {
	font-size:13px;
}

/*  <div id="agenda">
    <div class="agendaTitle">Agenda</div>
    <div class="agendaContainer">
      <div class="agendaDay">
        <div class="agendaDate">Monday<br />June 14th, 2021</div>
        <div class="agendaItem">
          <div class="agendatitle">Title</div>
          <div class="agendaTime">Time</div>
          <div class="agendaSpeaker"><a href="">Speaker</a></div>
        </div>

      </div>
      
     
    </div>
  </div>*/

/*tablets & desktop*/
@media only screen 
  and (min-width:768px){
    .large {display:block;}
    .small {display:none;}
   

    .speakers_a {
      grid-template-columns: repeat(3,1fr); 
      padding-top:10px;
      padding-bottom:10px;
    }

    .agendaContainer {
  		grid-template-columns: repeat(3,1fr); 
	}

	.agendaItem {
		min-height:150px;
	}

 
}

/*phones landscape*/
@media only screen 
  and (max-device-height: 600px) 
  and (orientation: landscape){

    .speakers_a {
      grid-template-columns: repeat(3,1fr); 
    }

 }