@import "variables";


footer {
	border-top:5px solid $bodyLight;
	margin-top:50px;
	padding-top:50px;
	padding-bottom:30px;
	display:grid;
	grid-template-columns:repeat(1, 1fr);
	grid-template-rows:auto;
	align-items:center;
	background:$bodyMed;
	width: 100%;
    margin: 0px;
    padding: 0px;
    overflow:hidden; 
}

.footerTitle {
	padding:10px;
	padding-top:30px;
	text-align:center;
	color:white;
	font-family:$logoFont;
	font-size:35px;
}

.footerLinks {
	padding-top:20px;
	font-family:$textFont;
	font-size:14px;
	
	padding-bottom:20px;
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	align-items:center;
	justify-content: center;
	gap:10px;
	padding-bottom:20px;
}

.footerLinks a {
	padding:15px;
	display:grid;
	align-items:center;
	justify-content: center;
}

.footerSocial {
	display:flex;
	 align-items: center;
    justify-content: center;
	padding:50px;
	border-top:1px solid $bodyLight;
	border-bottom:1px solid $bodyLight;
	text-align:center;
	color:white;
}

.footerSocial img {
	width:30px;
	margin-right:20px;
}

.copyright {
	padding-top:30px;
	text-align:center;
	color:$white;
	font-family:$textFont;
	font-size:14px;
}