@import "variables";


footer {
	border-top:5px solid $bodyLight;
	margin-top:150px;
	padding-top:50px;
	padding-bottom:100px;
	display:grid;
	grid-template-columns:repeat(1, 1fr);
	grid-template-rows:auto;
	align-items:center;
	background:$bodyMed;
}

.footerTitle {
	padding:50px;

	text-align:center;
	color:white;
	font-family:$logoFont;
	font-size:70px;
}

.footerLinks {
	padding-top:20px;
	font-family:$textFont;
	font-size:28px;
	
	padding-bottom:20px;
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	align-items:center;
	justify-content: center;
	gap:10px;
	padding-bottom:50px;
}

.footerLinks a {
	padding:15px;
	display:grid;
	align-items:center;
	justify-content: center;
}

.footerSocial {
	display:flex;
	 align-items: center;
    justify-content: center;
	padding:50px;
	border-top:1px solid $bodyLight;
	border-bottom:1px solid $bodyLight;
	text-align:center;
	color:white;
}

.footerSocial img {
	width:70px;
	padding-right:30px;
}

.copyright {
	padding-top:50px;
	text-align:center;
	color:$white;
	font-family:$textFont;
	font-size:18px;
}