@import "variables";
@import "mixins";

.bodyButtonContainer {
	padding-top:40px;
	display:flex;
	align-items: center;
  	justify-content: center;
 

}

.bodyButton {
	padding:10px;
	display:flex;
	width:270px;
	height:90px;
	border-radius: 15px;
	background:$green;
	align-items: center;
  	justify-content: center;
  	color:$bodyDark;
  	font-family: $textFont;
  	font-size:40px;
 	font-weight:700;
 }

.largeTitle {
	@include leftBodyPadding;
	font-family:$titleFont;
	color:$white;
	padding-top:45px;
	font-weight:700;
	font-size:3em;
	text-align:left;
}

.largeTitle::first-letter { 
  font-family:$titleFontDecorative;
  font-size:1.3em;
}

.smallTitle {
	font-size:2.5em;
	color:$white;
	font-weight:700;
	font-family:$titleFont;
}

.largeText {

}

.smallText{
	font-family:$textFont;
	font-size:2em;
}

p {
	text-align:center;
	@include leftBodyPadding;
	padding-right:50px;
	color:$white;
	font-family:$textFont;
	line-height:1.5;
	text-align:left;
	font-size:30px;
	padding-bottom:60px;
}

a {

}

b {
	font-weight:700;
}


@media screen and 
	(min-device-width:451px) and (orientation:portrait),/*phones -- not a portrait device greater than 400px*/
	(orientation:landscape)
{
	.bodyButtonContainer {
		padding-top:20px;
	}

	.bodyButton {
		height:30px;
		border-radius: 5px;
	  	font-size:14px;
	  	width:auto;
	}

	.largeTitle {
		@include leftBodyPaddingLandscape;
		font-family:$titleFont;
		color:$white;
	
		padding-bottom:20px;
		font-weight:700;
		font-size:24px;
		text-align:left;
	}

	.largeTitle::first-letter { 
	  font-family:$titleFontDecorative;
	  font-size:1.3em;
	}

	.smallTitle {
		font-size:1.7em;
		color:$white;
		font-weight:700;
		font-family:$titleFont;
	}

	.largeText {

	}

	.smallText{
		font-family:$textFont;
		font-size:16px;
	}

	p {
		text-align:center;
		@include leftBodyPadding;
		padding-right:50px;
		color:$white;
		font-family:$textFont;
		line-height:1.5;
		text-align:left;
		font-size:14px;
		padding-bottom:30px;
	}


}