@import "variables";
@import "mixins";

.bodyButtonContainer {
	padding-top:20px;
	display:flex;
	align-items: center;
  	justify-content: center;
}

.center {
	align-self:center;
	text-align:center;
}

.bodyButton {
	padding:10px;
	display:flex;
	width:130px;
	height:40px;
	border-radius: 5px;
	background:$green;
	align-items: center;
  	justify-content: center;
  	color:$bodyDark;
  	font-family:$textFont;
	line-height:1.5;
  	font-size:14px;
 	font-weight:700;
 }

.largeTitle {
	@include leftBodyPadding;
	font-family:$titleFont;
	color:$white;
	padding-top:45px;
	font-weight:700;
	font-size:1.1em;

}

.largeTitle::first-letter { 
  font-family:$titleFontDecorative;
  font-size:1.3em;
}

.smallTitle {
	font-size:1em;
	color:$white;
	font-weight:700;
	font-family:$titleFont;
}

.largeText {

}

.smallText{
	font-family:$textFont;
	font-size:.8em;
}

p {
	text-align:center;
	padding-left:10px;
	color:$white;
	font-family:$textFont;
	line-height:1.5;
	text-align:left;
	font-size:14px;
	padding-bottom:20px;
}

a {

}

b {
	font-weight:700;
}


@media screen and 
	(min-device-width:451px) and (orientation:portrait),/*phones -- not a portrait device greater than 400px*/
	(orientation:landscape)
{
	.bodyButtonContainer {
		padding-top:20px;
	}

	.largeTitle {
		@include leftBodyPaddingLandscape;
		font-family:$titleFont;
		color:$white;
	
		padding-bottom:20px;
		font-weight:700;
		font-size:20px;
	}

	.largeTitle::first-letter { 
	  font-family:$titleFontDecorative;
	  font-size:1.3em;
	}

	.smallTitle {
		font-size:1.7em;
		color:$white;
		font-weight:700;
		font-family:$titleFont;
	}

	.largeText {

	}

	.smallText{
		font-family:$textFont;
		font-size:16px;
	}

	p {
		text-align:center;
		@include leftBodyPadding;
		padding-right:50px;
		color:$white;
		font-family:$textFont;
		line-height:1.5;
		text-align:left;
		font-size:16px;
		padding-bottom:30px;
	}

	/*@media only screen 
  		and (min-device-width: 375px) 
  		and (max-device-width: 812px) 
 		and (orientation: landscape) { 

	  	p {
	  		font-size:14px;
	  	}

		.bodyButton {
			height:30px;
			border-radius: 5px;
		  	font-size:14px;
		  	width:auto;
		  	font-family:$textFont;
		}
	  }*/


}