@import "variables";

/*question is this the way to do this?*/

main {
   position:relative;
   background: $bodyMed;
   height:60vh;
   display:flex;
   align-items:center;
   text-align:center;
   justify-content:center;
   flex-wrap: nowrap;
   flex-direction:column;
   z-index:0;
   overflow: hidden;
}


.coaster{
  position:absolute;
  left:0px;
  bottom:-5px;
}

.wheel{
  position:absolute;
  bottom:-3px;
  right:0px;
  height:40vh;

}

.hero{
	 position:relative;
	 z-index:2;
}

h1{
	color:$white;
	font-family:$logoFont;
	font-size: 25vw;
	margin-bottom:2vh;
}

h2{
	color:$lightGrey;
	font-family:$titleFont;
	font-size:5vw;
	width:90vw;
	line-height:1.3;
	margin-bottom:5vh;
	
}

.eventDate{
	font-family:$titleFont;
	color:$yellow;
	font-size:4vw;
	margin-top:30px;
}

h2::first-letter { 
  font-family:$titleFontDecorative;
}

.actions{
 	align-items: center;
  	justify-content: center;
	margin-top:30px;
	display:flex;
	font-family:$textFont;
	font-weight:700;
	font-size:4vw;
	margin-bottom:5vh;
}

.register{
	background:$green;
	color:$bodyDark;
	height:6vh;
	border-radius: 5px;
	text-align:center;
	width:39vw;
	margin-right:10px;
	vertical-align: middle;
	line-height: 6vh; /* question: best way to do this*/
}

.vote {
	background:$darkButton;
	margin-left:10px;
	color:$white;
	height:6vh;
	border-radius: 5px;
	text-align:center;
	width:39vw;
	vertical-align: middle;
	line-height: 6vh; /* question: best way to do this*/
}

.register:hover {
	background-color: $greenHover;
 }


.vote:hover { 
  background-color: $greyHover;
}

/*phones in landscape*/
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 824px) 
  and (orientation: landscape) { 
  	.register{
		height:13vh;
		border-radius: 5px;
		line-height: 13vh; /* question: best way to do this*/
		font-size:16px;
		width:30vw;
		background:$blue;
	}

	.vote{
		height:13vh;
		border-radius: 5px;
		line-height: 13vh; /* question: best way to do this*/
		font-size:16px;
		width:30vw;
	}

	main{
		height:120vh;
	}

	h1{
		font-size:15vw;
		padding-bottom:10px;
	}

	h2{
		font-size:3vw;
		padding-bottom:20px;
	}

	.eventDate{
		padding-top:20px;
		font-size:4.5vh;
	}
}


/*tablets, desktops*/
@media only screen 
	and (min-device-width:451px) and (orientation:portrait),/*phones -- not a portrait device greater than 400px*/
	(min-device-width:768px) and (orientation:landscape)   and (-webkit-max-device-pixel-ratio: 2)/*allow ipads but not landscape iphones*/

{
	main{
		
		height:70vh;

	}

	h1{
		font-size:130px;
	}

	h2{
		font-size:30px;
	}

	.eventDate{
		font-family:$titleFont;
		color:$blue;
		font-size:30px;
		margin-top:0px;
	}

	.actions{
		align-items: center;
  		justify-content: center;
		margin-top:30px;
		display:flex;
		font-family:$textFont;
		font-weight:700;
		font-size:16px;
		margin-bottom:5vh;
	}

	.eventDate{
		font-size:20px;
	}

	.register{
		height:50px;
		border-radius: 5px;
		background-color:$yellow;
		line-height: 50px; /* question: best way to do this*/
		width:170px;
		font-size:16px;
	}

	.vote {
			height:50px;
		border-radius: 5px;
		
		line-height: 50px; /* question: best way to do this*/
		width:170px;
		font-size:16px;
	}
}

