@import "variables";

/*question is this the way to do this?*/

main {
   position:relative;
   background: $bodyMed;
   height:70vh;
   display:flex;
   align-items:center;
   text-align:center;
   justify-content:center;
   flex-wrap: nowrap;
   flex-direction:column;
   z-index:0;
}


.coaster{
  position:absolute;
  bottom:-5px;
  left:0px;
  height:200px;
}

.wheel{
  position:absolute;
  bottom:-3px;
  right:0px;
  height:40vh;

}

.hero{
	 position:relative;
	 z-index:2;
}

h1{
	color:$white;
	font-family:$logoFont;
	font-size: 25vw;
	margin-bottom:2vh;
}

h2{
	color:$lightGrey;
	font-family:$titleFont;
	font-size:5vw;
	width:90vw;
	line-height:1.3;
	margin-bottom:5vh;
	
}

.eventDate{
	font-family:$titleFont;
	color:$yellow;
	font-size:4vw;
	margin-top:30px;
}

h2::first-letter { 
  font-family:$titleFontDecorative;
}

.actions{
 	align-items: center;
  	justify-content: center;
	margin-top:30px;
	display:flex;
	font-family:$textFont;
	font-weight:700;
	font-size:3.7vw;
	margin-bottom:5vh;
	
}

.register{
	background:$green;
	color:$bodyDark;
	height:6vh;
	border-radius: 15px;
	text-align:center;
	width:39vw;
	vertical-align: middle;
	margin-right:15px;
	line-height: 6vh; /* question: best way to do this*/
	margin-right:5vw;
}

.vote {
	background:$darkButton;
	color:$white;
	height:6vh;
	border-radius: 15px;
	text-align:center;
	width:39vw;
	vertical-align: middle;
	margin-right:15px;
	line-height: 6vh; /* question: best way to do this*/
}

.register:hover {
	background-color: $greenHover;
 }


.vote:hover { 
  background-color: $greyHover;
}


/*old iphones in landscape*/
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 824px) 
  and (orientation: landscape) { 
  	.register{
		height:10vh;
		border-radius: 5px;
		line-height: 10vh; /* question: best way to do this*/
		font-size:4vh;
		width:25vw;
		background:$green;
	}

	.vote{
		height:10vh;
		border-radius: 5px;
		line-height: 10vh; /* question: best way to do this*/
		font-size:4vh;
		width:25vw;
	}

	main{
		height:100vh;
	}

	h1{
		font-size:15vw;
		padding-bottom:10px;
	}

	h2{
		font-size:3vw;
		padding-bottom:20px;
	}

	.eventDate{
		padding-top:20px;
		font-size:3.5vh;
	}
}

/*chris, it's not working in ipad landscape. try css tricks diong an OR for exact ipad landscape*/
@media screen and 
	/*(min-device-width:451px) and (orientation:portrait),phones -- not a portrait device greater than 400px*/
	(min-device-width:1024px) and (orientation:landscape),/*allow ipads but not landscape iphones*/
	(min-device-width:768px) and (orientation:portrait)
{
	main{
		width:100%;
		height:60vh;

	}

	h1{
		font-size:130px;
	}

	h2{
		font-size:30px;
	}

	.eventDate{
		font-family:$titleFont;
		color:$yellow;
		font-size:30px;
		margin-top:0px;
	}

	.actions{
		align-items: center;
  		justify-content: center;
		margin-top:30px;
		display:flex;
		font-family:$textFont;
		font-weight:700;
		font-size:16px;
		margin-bottom:5vh;
	}

	.eventDate{
		font-size:20px;
	}

	.register{
		height:50px;
		border-radius: 5px;
		background-color:$yellow;
		line-height: 50px; /* question: best way to do this*/
		width:170px;
		font-size:16px;
	}

	.vote {
			height:50px;
		border-radius: 5px;
		
		line-height: 50px; /* question: best way to do this*/
		width:170px;
		font-size:16px;
	}




}