/* Basic styling */

@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background:$lightGrey;
}

nav a {
  text-decoration: none;
   color: $white;
}

/* mouse over link */
nav a:hover {
  color: $blue;
}

.codePen{
  font-family:$codePen;
  font-size:65px;
  position:absolute;
  background:$yellow;
  width:700px;
  height:150px;
  z-index:1;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  top:20px;
  left:-190px;
  border:5px solid white;
 display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  display:flex;
  height:100px;
}

@media only screen and (max-width: 700px) {
  .codePen {
    font-size:45px;
    width:700px;
    height:150px;
    top:20px;
    left:-190px;
  }
 
}