@import "variables";


#participate{
	margin-top:50px;
}


.participateContainer{
	border-top:1px solid $lightGrey;
	border-bottom:1px solid $lightGrey;
	background:$bodyLight;
	border-radius:15px;
	padding:50px;
}

#participate .title{
	color:$white;
	font-family:$textFont;
	font-weight:700;
	font-size:26px;
	padding-bottom:50px;
}

#participate p{
	color:$white;
	font-family:$textFont;
	line-height:1.5;
	text-align:left;
	font-size:22px;
	padding-bottom:20px;
}