/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "nav";
@import "main";
@import "speakers";
@import "about";
@import "variables";

.container {
  display:grid;
  height:100vh;
  grid-template-columns:1fr;
}


nav {
  background: $bodyLight;
}


main {
   position:relative;
   background: $bodyMed;
   height:400px;
   display:flex;
   align-items:center;
   text-align:center;
   justify-content:center;
   flex-wrap: nowrap;
   flex-direction:column;
}

a {
  text-decoration: none;
   color: $blue;
}

/* mouse over link */
a:hover {
  color: white;
}




#sponsors {
  background: #a7ffeb;
}

footer {
  background: #18ffff;
}