/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "nav";
@import "main";
@import "speakers";
@import "about";
@import "sponsors";
@import "participate";
@import "variables";

body{

    background:$bodyDark;
 
}

.container {
  display:grid;
  height:100vh;
  grid-template-columns:1fr;
}


nav {
  background: $bodyLight;
}



a {
  text-decoration: none;
   color: $blue;
}

/* mouse over link */
a:hover {
  color: white;
}






footer {
  background: #000;
}