@import "variables";

#speakers {
  display:grid;
  padding-top:30px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  background: $bodyDark;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}


.speakContainer{

}

.speak {
  background:$bodyLight;
  border-radius:4px;
  padding:.5rem;
  border-radius:15px;
  padding-left:15px;
  padding-right:15px;
}


.speaker{
	grid-column-start:2;
	grid-column-end:5;
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-gap: 1rem;
}

.speak .title{
	font-family:$titleFont;
	color:$white;
	padding-top:15px;
	padding-bottom:15px;
	font-weight:700;
	font-size:1.2em;
}

.speak p{
	font-family:$textFont;
	color:$lightGrey;
	padding-bottom:15px;
	line-height:1.5;
	font-size:.9em;
	font-weight:300;
}

.speakActions{
	padding-top:20px;
	display:flex;
	font-family:$textFont;
	font-size:.8em;
	font-weight:700;
  	justify-content: center;
  	padding-bottom:25px;	
}

.apply{
	display:flex;
	background:$green;
	width:100px;
	height:30px;
	border-radius: 5px;
	margin-right:5px;
	align-items: center;
  	justify-content: center;
}

.voteLite{
	display:flex;
	background:$greyButton;
	width:100px;
	height:30px;
	border-radius: 5px;
	margin-left:5px;
	align-items: center;
  	justify-content: center;
}

.speech {
  position:relative;
  border-radius:15px;
  border-radius:15px;
  height:210px;
  z-index:0;
}

.apply:hover {
	background-color: $greenHover;
 }


.voteLite:hover{ 
  background-color: $greyHover;
}

.portrait{
	position:absolute;
	bottom:10px;
	left:0px;
	z-index:3;
	width:35px;
	height:35px;
	background:$white;
}

.speakerInfo{
	padding-left:35px;
	align-self:flex-end;
	padding-bottom:10px;
	font-family:$textFontCondensed;
	font-size:.9em;
}

.speakerName{
	font-weight:700;
	color:$white;
	padding-bottom:3px;
}

.speakerCompany{
	color:$blue;
}

.moreSpeakers {
	padding-top:50px;
	display:flex;
	grid-column-start:1;
	grid-column-end:5;
	height:50px;
	align-items: center;
  	justify-content: center;
}

.moreButton{
	display:flex;
	width:100px;
	height:30px;
	border-radius: 5px;
	background:bodyDark;
	border:1px solid $white;
	align-items: center;
  	justify-content: center;
  	color:$white;
  	font-family: $textFont;
  	font-size:.8em;
}

.moreButton:hover{ 
  background-color: $white;
  color:$bodyDark;
}

.speechContainer {
	display:flex;
	position:absolute;
	background:$bodyLight;
	height:150px;
	border-radius:15px;
	z-index:2;
	width:95%;
	font-family:$titleFont;
	align-items: center;
  	justify-content: center;
  	text-align: center;
}

.speechContainer p {
	color:$lightGrey;
	padding-left:15px;
	padding-right:15px;
	line-height:1.6;
}

.speakerContainer {
	display: flex;
	flex-direction:row;
	position:absolute;
	width:95%;
	z-index:1;
	background:$bodyMed;
	height:160px;
	border-radius:15px;
	bottom:0px;
	left:10px;
}


@media all and (max-width: 700px) {
	.speaker{
		grid-column-start:2;
		grid-column-end:5;
		display:grid;
		grid-template-columns:repeat(2, 1fr);
		grid-gap: 1rem;
	}

	#speakers {
	  grid-template-columns:repeat(3, 1fr);

	}
}