@import "variables";

#speakers {
  display:grid;
  padding:30px;
  background: $bodyDark;
  grid-template-columns:repeat(1, 1fr);
  grid-template-rows: auto;

}


.speakContainer{
	display:none;
	padding-right:15px;
}

.speak {
  background:$bodyLight;
  border-radius:4px;
  padding:1rem;
  border-radius:15px;

}


.speeches{
	display:grid;
	grid-template-columns:repeat(1, 1fr);
	 justify-content: center;
  align-content: center;
}

.speak .title{
	font-family:$titleFont;
	color:$white;
	padding-top:15px;
	padding-bottom:15px;
	font-weight:700;
	font-size:20px;
}

.speak p{
	font-family:$textFont;
	color:$lightGrey;
	padding-bottom:15px;
	line-height:1.5;
	font-size:14px;
	font-weight:300;
}

.speakActions{
	padding-top:20px;
	display:flex;
	font-family:$textFont;
	font-size:14px;
	font-weight:700;
  	justify-content: center;
  	padding-bottom:25px;	
}

.apply{
	display:flex;
	background:$green;
	width:100px;
	height:30px;
	border-radius: 5px;
	margin-right:5px;
	align-items: center;
  	justify-content: center;
}

.speakActions a:link {
  color: $white;
}

/* mouse over link */
.speakActions a:hover {
  color: $bodyDark;
}

.voteLite{
	display:flex;
	background:$greyButton;
	width:100px;
	height:30px;
	border-radius: 5px;
	margin-left:5px;
	align-items: center;
  	justify-content: center;
}

.speech {
  border-radius:15px;
  border-radius:15px;
}

.apply:hover {
	background-color: $greenHover;
 }


.voteLite:hover{ 
  background-color: $greyHover;
}

.portrait{
	position:relative;
	left:0px;
	top:30px;
	z-index:3;
	width:35px;
	height:35px;
	background:$white;
}

.portrait img{
	width:75px;
	height:75px;
}

.speakerTitle{
	font-family:$titleFont;
	color:$white;
	padding-top:45px;
	padding-bottom:45px;
	font-weight:700;
	font-size:40px;
	text-align:center;
}

.speakerInfo{
	position:relative;
	left:70px;
	bottom:25px;
	align-self:flex-end;
	font-family:$textFont;
	font-size:34px;
	z-index:3;
}

.speakerName{
	font-weight:700;
	color:$white;
	padding-bottom:10px;
}

.speakerCompany{
	color:$blue;
}

.moreSpeakers {
	width:100%;
	display:flex;
	align-items: center;
  	justify-content: center;
}

.moreButton{
	padding:10px;
	display:flex;
	width:250px;
	height:90px;
	border-radius: 15px;
	background:bodyDark;
	border:1px solid $white;
	align-items: center;
  	justify-content: center;
  	color:$white;
  	font-family: $textFont;
  	font-size:30px;
}

.moreButton:hover{ 
  background-color: $white;
  color:$bodyDark;
}

.speechContainer {
	display:flex;
	position:relative;
	background:$bodyLight;
	height:450px;
	border-radius:15px;
	z-index:1;
	width:98%;
	font-family:$titleFont;
	align-items: center;
  	justify-content: center;
  	text-align: center;
  	font-size:40px;
  	font-weight:700;
}

.speechContainer p {
	color:$lightGrey;
	padding-left:5px;
	padding-right:15px;
	line-height:1.6;
}

.speakerContainer {
	position:relative;
	display: flex;
	flex-direction:row;
	bottom:450px;
	left:20px;
	z-index:0;
	background:$bodyMed;
	height:550px;
	border-radius:15px;
	margin-bottom:-400px;

}




@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.speeches{
		grid-column-start:1;
		grid-column-end:4;
		grid-template-columns:repeat(3, 1fr);
	}

	#speakers {
	  grid-template-columns:repeat(3, 1fr);
	 

  	text-align:center;

	}

	.speakContainer {
		display:none;
	}
}



@media all and (min-width: 1024px) {
	.speeches{
		grid-column-start:2;
		grid-column-end:5;
		grid-template-columns:repeat(3, 1fr);
	}

	#speakers {
	  grid-template-columns:repeat(4, 1fr);

	}

	.speakContainer {
		display:block;
	}
}