@import "variables";

.sponsorContainer {
	display:flex;
	align-items: center;
  	justify-content: center;
  	text-align:center;
  	flex-direction:column;
}

#sponsors {
  background: #a7ffeb;
}

.sponsors {
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	gap:40px;
}

.sponsors img {
	max-width:40vw;
	max-height:7vh;

}

@media all and (min-width: 1024px) {
	.sponsors{
		grid-template-columns:repeat(3, 1fr);
	}
}

.sponsor{
	padding:50px;
	height:150px;
	
}
