@import "variables";

.sponsorContainer {
	display:flex;
	align-items: center;
  	justify-content: center;
  	text-align:center;
  	flex-direction:column;
}

#sponsors {
  background: #a7ffeb;
}

.sponsors {
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	gap:40px;
}

.sponsors img {
	max-width:40vw;
	max-height:7vh;
}

.sponsor{
	padding:50px;
	height:150px;
}

@media screen and 
	(min-device-width:451px) and (orientation:portrait),/*phones -- not a portrait device greater than 400px*/
	(orientation:landscape)
{
	.sponsors img {
		max-height:5vw;

	}

	.sponsor{
		
		padding:15px;
		padding-top:50px;
		height:150px;
	}
	
	.sponsors {
		grid-gap:0px;
		grid-template-columns:repeat(4, 1fr);
	}
}
