$bodyDark: #131417;
$bodyMed: #1E1F26;
$bodyLight: #2C2F39;
$green: #47CF73;
$yellow: #FFDD40;
$blue:#0FBEFF;
$white: #FFFFFF;
$lightGrey: #C7C9D3;
$midGrey: #454857;
$darkGrey: #717790;
$darkButton: #2C2C2C;
$greenHover:#2FB45A;
$greyHover:#5A6074;


$logoFont: 'Smythe', cursive;
$codePen: 'Yellowtail';
$titleFont: 'Cinzel', serif;
$titleFont: 'Cinzel', serif;
$titleFontDecorative: 'Cinzel Decorative', cursive;
$textFont:  'Open Sans', sans-serif;
$textFontCondensed: 'Open Sans Condensed', sans-serif;
