@import "variables";

.container {
  max-width:1200px;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  color:$blue;
  width:100%;
  padding-bottom:100px;
  padding-right:5vw;
}

#voting {
	grid-column:span 12;
}

#information {
	display:none;
}

.top {
	display:flex;
}

.categories {
	font-family:$textFont;
	font-size:14px;
	display:flex;
	color:$white;
	height:34px;
    line-height: 34px;
	margin-left:48px;
  	border-bottom:1px solid $midGrey;
  	width:100%;
}

.categories ul {
	display:flex;
	list-style-type: none;
}

 .submit {
 	background:$green;
	color:$bodyDark;
	height:28px;
	border-radius: 5px;
	width:80px;
	line-height: 28px; 
	font-weight:700;
	align-self:flex-end;
	text-align:center;
	margin-left: auto;
	margin-bottom:5px;
 	order: 2;
}

.categories ul li:first-child { 
	align-self:flex-end;

  padding-left:0px;
}

.selected {
	border-bottom:1px solid $yellow;
	color:$yellow;
}

.categories li {
	padding-left:20px;
}

.speakers {
	display:none;
}

.speaker img {
	width:40px;
	border-radius: 50%;
	border:3px solid $bodyLight;
}

.upvote img {
	width:20px;
}

.submission {
 	display:flex;
 	flex-direction:row;
 	align-items: center;
 	padding-top:15px;
}

.speaker {
	width:100px;
	text-align:center;
	padding-bottom:15px;
	display:none;
}

.upvote {
	display:flex;
	align-items: center;
 	justify-content: center;
	width:50px;
	padding-bottom:15px;
}

.speechInfo {
	border-bottom:1px solid $bodyLight;
	padding-bottom:15px;
	width:100%;
}

.speakerContainer{
	display:flex;
	flex-direction:column;
}

.speakerName {
	color:$lightGrey;
	font-family:$textFont;
	font-size:14px;
}

.speechTitle {
	color:$white;
	font-family:$titleFont;
	font-size:14px;
	padding-top:2px;
	font-weight:700;
}

/*tablets & desktop*/
@media only screen 
	and (min-width:768px){

	 .submits {
	 	font-family:$textFont;
	 	font-size:14px;
		color:$bodyLight;
		width:120px;
		line-height: 28px; 
		text-align:center;
		margin-top:20px;
		background:$green;
		font-weight:700;
		border-radius:5px;
		 margin-left: auto;
   		 margin-right: auto;
   		 margin-bottom:50px;
	 }

	#voting {
		grid-column:span 9;
		margin-right:70px;
	
	}

	#information {
		display:block;
		grid-column:span 3;
		font-family:$textFont;
	}

	.participate {
		background:$bodyLight;
		border-radius:15px;

		height:230px;
	}

	h4 {
		padding-top:20px;
		padding-left:20px;
		font-family:$titleFont;
		color:$yellow;
		font-size:18px;
		font-weight:700;
	}

	h5{
		
		padding-top:30px;
		padding-bottom:5px;
		font-weight:700;
			font-family:$textFont;
		font-size:14px;
		color:$white;
	}

	p {
		padding:0px;
		line-height:1.6;
		font-family:$textFont;
		font-size:14px;
		color:$lightGrey;
	}

	.participate p {
		color:$white;
		padding-left:20px;
		padding-top:10px;
		padding-bottom:20px;
	}

	.speaker {
		display:block;
	}

	.container {
		padding-left:20px;
	}



	.speakers {
		display:flex;
		align-items: center;
	 	justify-content: center;
	 	text-align:center;
		border:1px solid $midGrey;
		border-radius:5px;
		width:100px;
		display:block;
		color:$lightGrey;
		height:33px;
		line-height:33px;
	}

	.categories .submit {
		display:none;
	}
}

/*phones landscape*/
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 824px) 
  and (orientation: landscape) { 
  	#voting {
		grid-column:span 12;
		
	}

	#information {
		display:none;
  }
 }