@import "variables";
@import "globals";
@import "footer";
@import "nav";
@import "body";

html {
	-webkit-text-size-adjust: 100%;
}

body{
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background:$bodyDark;
  display:grid;
  justify-items:center;
}

nav {

  justify-items:center;
}

.navContainer{
	display:grid;

	width:100%;
	max-width:1200px;
}

#responsiveMenu {
	list-style-type: none;
}

.logoContainer {
	position:absolute;
	top:5px;
	padding-left:15px;
}

a {
  text-decoration: none;
   color: $blue;
}

h3 {
	font-size:24px;
	font-family:$titleFont;
	font-weight:500;
}



/* mouse over link */
a:hover {
  color: white;
}


main{
	padding-top:50px;
	padding-bottom:40px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	color:$white;
}

.eventDate{
	font-family:$titleFont;
	color:$yellow;
	font-size:18px;
	margin-top:30px;
	display:none;
}

/*tablets, desktops*/
@media only screen 
	and (min-device-width:451px) and (orientation:portrait),/*phones -- not a portrait device greater than 400px*/
	(min-device-width:768px) and (orientation:landscape)   and (-webkit-max-device-pixel-ratio: 2)/*allow ipads but not landscape iphones*/

{
	h3 {
		font-size:40px;
		font-weight:700;
	}

	.eventDate{
		font-size:24px;
		display:block;
	}

}