@import "variables";

.container {
  max-width:1200px;
  display:grid;
   grid-template-columns: repeat(3, 1fr);
  color:$blue;
  width:100%;
  background:$blue;

    grid-template-rows: auto;
  grid-template-areas: 
    "liveStream liveStream liveStream"
    "agenda agenda agenda";

  font-family:$textFont;
  font-size:14px;
  color:$white;
}

#liveStream {
	grid-area: liveStream;
	background:$yellow;
}

#comments {
	grid-area: comments;
	background:$blue;
	color:white;
}

#agenda {
	grid-area: agenda;
	background:$bodyDark;
  padding:10px;
}

.small {
  display:block;
}

.large {
  display:none;
}

.wrapper {
    max-width: 1200px; 
    height: 100%; 
    margin: 0 auto;
}
.h_iframe {
   position: relative;
   padding-top:56%;
 }

.h_iframe iframe {
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%;
}
.wrapper img {
      position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%;
}

.date {
  font-weight:700;

}

.agendaItem {

}

.agendaInfo {
  padding-top:10px;
  display:flex;
}

.time {
  text-align:center;
  background:$yellow;
  color:$bodyDark;
  height:30px;
  border-radius:5px;
  width:80px;
  line-height:30px;

}

.speechContainer {
    margin-left:10px;
    margin-right:10px;
   background:$bodyLight;
   border-radius:5px;
   display:flex;
   flex-direction:column;
   padding:10px;
   width:100%;
}

.speakers img{
  height:50px;
  border-radius:50%;
  border:3px solid $bodyLight;
}

.duration {
  display:none;
}

.speechTitle {
  font-family:$titleFont;
  font-weight:700;
  text-align:center;
  padding-bottom:5px;
}

.speakers {
  font-size:12px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:5px;
}

.speaker {
  text-align:center;
}

/*<div id="agenda">
  <div class="date">June 14th, 2021</div>
  <div class="agendaItem">
    <div class="agendaInfo">
      <div class="time">10:00 AM</div>
      <div class="speechContainer">
        <div class="duration">9:30 AM - 10:00 AM (30 Min)</div>
        <div class="speechTitle">how To Design Anything in CSS</div>
        <div class="speakers">
          <div class="speaker">
            <img src="images/coyier.jpeg">
            <div class="speakerName">Chris Coyier</div>
            <div class="speakerInfo">Founder, <a href="#">Codepen.io</a></div>
          </div>
        </div>
      </div>
    <div class="sponsorInfo">sponsor Info</div>
  </div>
</div>*/


/*tablets & desktop*/
@media only screen 
	and (min-width:768px){
    .large {display:block;}
    .small {display:none;}

    .container {
      grid-template-areas: 
        "liveStream liveStream liveStream"
        "agenda agenda agenda";
    }
}

/*need to avoid iphone x*/
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 824px) 
  and (orientation: landscape) { 

 }