@import "variables";

.container {
  max-width:1200px;
  width:100%;
  font-family:$textFont;
  font-size:13px;
}

main {
	width:100%;
	background:$bodyLight;
}

.videos {
	padding:20px;
	padding-top:0px;
	display:grid;
	grid-template-columns:repeat(1, 1fr);
	grid-template-rows:auto;
	justify-items:center;

}

.video {
	width:100%;
	padding-top:20px;
}

.video img {
	width:100%;
}


.videoTitle {
	padding-top:5px;
	font-family:$titleFont;
	color:$blue;
	font-size:16px;
	font-weight:700;
}

.speaker {
	color:$white;
}

.videoInfo {
	display:flex;
	color:$lightGrey;
	flex-direction:row;
	flex-wrap:wrap;
}

.popular {
	border:1px solid $bodyLight;
	height:40px;
	padding:15px 15px 15px 15px;
	border-radius:5px;
	display:flex;
	align-items:center;
	justify-content: center;
}

.lineBreak {
	padding-right:5px;
	padding-left:5px;
}

.search {
	color:$white;
	background:$bodyDark;
}


.topSearch {
	padding:10px 20px 10px 20px;
	border-bottom:2px solid $bodyLight;
	display:flex;
}

.filters {
	margin-left:auto;
}

.bottomSearch {
	display:flex;
	padding:10px 20px 10px 20px;
	 overflow-x: auto; 
          overflow-y: hidden; 
                white-space: nowrap;
}

.tags {
	display:none;
	padding:0px 20px 10px 20px;
}

.tag {
	height:40px;
	line-height:30px;
	
	padding:6px 10px 6px 10px;
	border-radius:5px;
	margin-right:5px;
}

.selected {
	background:$bodyLight;
}


/*tablets & desktop*/
@media screen and 
	(min-device-width:451px) and (orientation:portrait),/*phones -- not a portrait device greater than 400px*/
	(orientation:landscape)
{

	@media only screen 
	and (min-width:768px)
	and (max-width:1000px)
	{
		.videos {
			grid-template-columns:repeat(3, 1fr);
			grid-gap:20px;
		}
	}

		@media only screen 
	and (min-width:1001px)
	{
		.videos {
			grid-template-columns:repeat(4, 1fr);
			grid-gap:20px;
		}
	}

	@media only screen 
	and (min-width:450px)
	and (max-width:767px){
		.videos {
			grid-template-columns:repeat(2, 1fr);
			grid-gap:20px;
		}
	}

	.video {

	}

	.topSearch {
		border-bottom:none;
	}

	.bottomSearch {
		display:none;
	}

	.search {
		margin-top:20px;
	}

	.videoTitle {
		font-size:14px;
	}

	.hide {
		display:none;
	}

	.videoInfo {
		flex-direction:column;
	}

	.tags {
		display:flex;
	}

}

/*need to avoid iphone x*/
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 824px) 
  and (orientation: landscape) { 
  	#voting {
		grid-column:span 12;
		background:$yellow;
	}

	#information {
		display:none;
  }
 }