.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: #0FBEFF;
  width: 100%;
  background: #0FBEFF;
  /*
      grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
  
  
      .item-a {
    grid-area: header;
  }*/ }

#voting {
  grid-column: span 12;
  background: #FFDD40; }

#information {
  display: none; }

/*tablets & desktop*/
@media only screen and (min-width: 768px) {
  #voting {
    grid-column: span 8;
    background: #FFDD40; }

  #information {
    display: block;
    grid-column: span 4;
    background: #FFFFFF; } }
/*need to avoid iphone x*/
@media only screen and (min-device-width: 280px) and (max-device-width: 824px) and (orientation: landscape) {
  #voting {
    grid-column: span 12;
    background: #FFDD40; }

  #information {
    display: none; } }
